include ./layout

block content
  div.section.no-pad-bot
    div.container
      div.row
        div.col.s6
          blockquote.embedly-card(data-card-controls='0')
            h4
              a(href='https://medium.com/@whirlwin/3-steps-for-faster-continuous-integration-e74e01e7e75') 3 Steps for faster Continuous Delivery - Øyvind Ødegård - Medium
            p
              | What is more frustrating than having weekly, quarterly or even annually releases for new features, knowing that your new business idea will be outdated even before it hits the crowd? In this article, I will highlight 3 of the most important aspects for making your deployment faster and more enjoyable for you, your team and ultimately your business or organization.

