doctype html
html
  head
    title whirlwin
    link(rel="stylesheet", href="/assets/vendor/materialize/materialize.min.css")
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    main.pusher
      block content